@import url('https://fonts.googleapis.com/css?family=Inter');

#Board {
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 2%;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}