.board-sub-component {
    width: 480pX;
    height: 445px;
    background: #F9F9F9;
    border-radius: 30px;
}

.board-sub-component p {
    background-color: #F9F9F9;
    border-radius: 30px;
    text-align: center;
}