.wrapper {
    width: 328px;
    height: 419px;
    background-color: #fff;
    color: black;
    border-radius: 30px;
    padding: 20px;
    margin: auto;
    text-align: center;
}

.login-form {
    width: 328px;
    height: 419px;
    color: #fff;
    align-content: center;
    background-color: #fff;
}

.login-title {
    position: relative;
    top: 100%; bottom: 50px;
    width: 328px;
    font-size: 40px;
    text-align: center;
    background-color: #fff
}

.input-box {
    position: relative;
    top: 30px; right: auto; left: auto; bottom: 30px;
    width: 328px;
    height: 30px;
    background-color: #fff;
    margin: 0px;
    padding: 10px 0px 30px 0px ;
}

.input-box input {
    width: 230px;
    height: 4px;
    background: #fff;
    outline: none;
    font-size: 16px;
    color: black;
    padding: 20px 30px 20px 20px;
    text-align: start;
}

.input-box input::placeholder {
    color: #fff;
    width: 328px;
}

.login-button {
    width: 300px;
    height: 45px;
    background: grey;
    border: none;
    outline: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    color: black;
    font-weight: 700;
    position: relative;
    top: 30px;
    
}

.register-link {
    position: relative;
    top: 30px;
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px 0 15px;
    background-color: #fff;
}

.register-link-anchor {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link-anchor:hover {
    text-decoration: underline;
}