<!DOCTYPE html>
<html lang="ko">
<head>
    <title>로그인 페이지</title>                             <!--head 내의 title 태그에 페이지 창의 이름을 입력할 수 있다. -->
    <meta charset="UTF-8">
    <link rel="stylesheet" href="newlogin.css">
</head>
<body>
    <img src="" alt="WealthWise"> 
    <form>                                                  <!--form 태그는 사용자가 입력한 하나의 양식을 제출할 때 쓰는 태그로, form 태그 사이에 사용자가 입력할 내용과 제출을 위한 버튼까지 포함시키면 된다.-->
        <div>                                               <!--div는 줄을 바꾸는(레이아웃을 바꾸거나 컨텐츠를 나누는) 태그로 이외에 별다른 의미는 없다.-->
            <input type="text" name placeholder="ID">            <!--input 태그를 쓰면 사용자가 무언가를 입력할 수 있는 형태의 블록을 만들어준다.-->
        </div>                                              <!--div 태그를 열었으니, 닫아준다.-->
        <div>                                               <!--줄을 바꾸기 위해 div 파일을 다시 열어주고, 다음 내용을 작성한다.-->
            <input type="password" placeholder="비밀번호">   <!--input 태그의 type으로 password를 지정하게 되면, 사용자가 입력한 값이 사용자에게 보이지 않도록 뜬다.-->
        </div>                                              <!--마찬가지로 div 태그를 닫아준다.-->
        <div>                                               <!--로그인 버튼의 줄 바꿈을 위해 다시 div 태그를 열어준다.-->
            <button type="submit">로그인</button>       <!--button 태그의 type으로 submit을 지정하게 되면 작성한 내용이 제출되며, 이는 추후에 자바스크립트로 실행 가능하다-.->
        </div>
    </form>
</body>
</html>