<!DOCTYPE html>
<html lang="en">
<head>
    <title>회원가입 페이지</title>
</head>
<body>
    <img src="" alt="WealthWise">       <!--img 태그는 이미지를 불러오는 태그, src는 삽입하려는 이미지의 경로(나중에 로고이미지 경로 넣으면 된다.)를 삽입하는 태그, alt는 이미지 경로가 연결되지 않을 경우의 대체 택스트이다.-->
    <form>
        <div>
            <input type="text">
        </div>
        <div>
            <input type="text">
        </div>
        <div>
            <input type="text">
        </div>
        <div>
            <input type="text">
        </div>
        <div>
            <button type="submit">회원가입</button>
        </div>
    </form>
</body>
</html>