.article_title {
    background-color: lightgray;
    width: fit-content;
}

tr:hover {
    background-color: lightgray;
}

td:hover {
    cursor: pointer;
}

th,
td {
    padding: 9px 20px;
    margin: 0;
}

th {
    border-top: 0.8px solid black;
    border-bottom: 0.8px solid black;
}

td {
    /*margin:6px 20px;*/
    text-align: center;
}

td:nth-child(2) {
    text-overflow: ellipsis;
}

th:nth-child(2) {
    width: 500px;
}

td {
    border-bottom: 1px solid grey;
}

.board_title {
    font-size: 12pt;
}

th::after {
    position: relative;
    content: "";
    left: 10px;
    width: 2px;
    height: 16px;
    background-color: #888888;
}

td:nth-child(2) {
    text-align: left;
}

.board_post {
    font-size: 11pt;
}