.board_write_back {
    position: absolute;
    left: calc(50% - 500px);
    min-height: calc(100vh - 57px);
    width: 1000px;
    background-color: white;
}

.board_write {
    position: relative;
    left: 100px;
    top: 80px;
    width: 800px;
    height: calc(100% - 57px - 10px);
}

.post_write_title {
    height: 100px;
}

.post_write_contour {
    position: relative;
    background-color: lightgray;
    height: 1px;
    left: 32px;
    width: 730px;
    margin: 10px 0px;
}

.post_write_content {
    height: calc(100vh - 300px);
}

.post_write_submit_button {
    float: right;
    font-size: large;
    font-family: "KCC-Hanbit";
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    background-color: #e8e8e8;
    outline: none;
}

.board_write textarea:focus {
    outline: none;
}

.post_write_title_input {
    font-size: 32pt;
    border: none;
    resize: none;
    height: 40pt;
    width: calc(100% - 200px);
    font-family: "KCC-Hanbit";
}

.post_write_content_input {
    margin-top: 30px;
    font-size: 15pt;
    border: none;
    resize: none;
    height: 450pt;
    width: 100%;
    font-family: "KCC-Hanbit";
}