#board-sub-buttons {
    display: flex;
    justify-content: space-between;
}

#board-sub-buttons button {
    cursor: pointer;
    background: #F9F9F9;
    height: 45px;
    border-radius: 40px;
    border: none;
}

#search_img {
    background-color: #F9F9F9;
}

#write-button {
    width: 160px;
}

#post-manage-button {
    width: 210px;
}

#search-button {
    width: 45px;
}

#search-button-img {
    background-color: #F9F9F9;
    width: 28px;
}