@font-face {
    font-family: "KCC-Hanbit";
    src: url("../assets/KCC-Hanbit.ttf");
}

#detail_page_back {
    position: absolute;
    left: calc(50% - 500px);
    width: 1000px;
    min-height: calc(100vh - 56px);
    font-family: "KCC-Hanbit";
}

#detail_page_content {
    margin: 50px;
    margin-bottom: 25px;
    width: 900px;
    height: 400px;
    border: 1px solid black;
}

#detail_page_title {
    width: 100%;
    height: 90px;
    border-bottom: 0.8px solid gray;
}

#detail_page_title_main {
    font-size: 20pt;
    font-weight: 700;
    height: 20pt;
    padding: 15px;
}

#detail_page_title_sub p {
    display: inline-block;
    margin: 3px 30px 0px 18px;
}

#detail_page_context {
    width: 100%;
    height: calc(100% - 71px);
}

#detail_page_context p {
    display: inline-block;
    padding: 18px;
    margin: 0px;
}

#detail_page_contour {
    width: 850px;
    height: 2px;
    margin-left: 75px;
    background-color: black;
    border-radius: 5px;
}

/* comment */
#detail_page_comment {
    margin: 50px;
    margin-top: 25px;
    width: 900px;
    height: auto;
}

.detail_page_comment_view {
    border: 1px solid black;
    display: flex;
    margin-bottom: 10px;
}

.detail_page_comment_title {
    width: 100px;
    padding: 0px 15px;
    display: inline-block;
}

.detail_page_comment_title_writer {
    height: 10pt;
    margin: 10px 0px;
}

.detail_page_comment_title_date {
    height: 10pt;
    margin: 15px 0px;
}

.detail_page_comment_contour {
    margin: 0px 10px;
    background-color: black;
    width: 0.2px;
}

.detail_page_comment_context {
    height: 100%;
}

.detail_page_comment_context p {
    margin: 10px;
}

#detail_page_comment_write {
    margin-top: 20px;
    height: 90px;
}

#detail_page_comment_write textarea:focus {
    outline: none;
    ;
}

#detail_page_comment_write textarea {
    height: 80px;
    width: 760px;
    border: 1px solid gray;
    resize: none;
    font-size: 15pt;
    font-family: "KCC-Hanbit";
}

#detail_page_comment_write button {
    height: 86px;
    width: 110px;
    float: right;
    font-size: 16pt;
    font-family: "KCC-Hanbit";
    border: none;
    border-radius: 3px;
    cursor: pointer;
    background-color: #e8e8e8;
    outline: none;
}