@font-face {
    font-family: "KCC-Hanbit";
    src: url("../assets/KCC-Hanbit.ttf");
}

#nav-menu-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-menu-title {
    margin-bottom: 20px;
    width: 120px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #d9d9d9;
    border-radius: 3px;

    cursor: pointer;

    font-family: "KCC-Hanbit";
    font-size: 24px;
    text-decoration: none;
    color: #000000;

    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menu-title:hover {
    background-color: #eeeeee;
}

#nav-menu-subs {
    height: 160px;
    display: flex;
    flex-direction: column;
}

.nav-menu-sublink {
    height: 30px;
    font-family: "KCC-Hanbit";
    font-size: 17px;
    text-align: center;
    cursor: default;
    text-decoration: none;
    color: #000000;
}