* {
  background-color: #E8E8E8;
}

main {
  width: 1500px;
}

#NavBar {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 94%;
}

#Logo {
  font-family:serif;
  font-style: normal;
  font-weight: 300;
  font-size: 50px;
  line-height: 30px;

  color: #000000;
}

#Logo:hover {
  cursor: pointer;
}

#links {
  list-style-type: none;
  font-family:sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 30px;
  width: 500px;

  color: #000000;
  display: flex;
  justify-content: space-between;
}

.link {
  align-self: center;
  text-decoration: none;
  color: #232323;
}

.link :hover {
  cursor: pointer;
}

#links :hover {
  color: tomato;
  transform: scale(1.1);
  transition: transform 0.5s cubic-bezier(0.1,1.0,1.0,1.0), opacity 0.55s ease;
}   

#NavTexts {
  display: flex;
  justify-content: space-between;
}

#NavLine {
  position: absolute;
  width: 1410px;
  border: 1px solid #000000;
}