#menu {
    position: absolute;
    width: 100%;
    height: 100%;
}

#menu-box {
    width: 100%;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;

    border-top: 0.8px solid #d9d9d9;
    border-bottom: 0.8px solid #d9d9d9;
}

#menu-links {
    width: 94%;
    height: 185px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#menu-designline {
    width: 50px;
    height: 0px;
    border: 3px solid #888888;
    border-radius: 2px;
}   